<div class="w-full mb-20">
  <mat-card class="p-5">
    <mat-card-title>
      <h1>{{ article.title }}</h1>
    </mat-card-title>

    <mat-card-content>
      <div class="container page">
        <div class="row article-content">
          <div class="col-md-12">
            <p>
              {{ article.description }}
            </p>
          </div>
        </div>
      </div>

      <div class="flex justify-between">
        <div class="flex items-center">
          <a
            [routerLink]="['/profile/user', article.author.username]"
            class="mr-2 avatar"
            ><img class="author__image" [src]="article.author.image"
          /></a>
          <div class="flex flex-col mr-2">
            <a
              [routerLink]="['/profile/user', article.author.username]"
              class="author__name"
              >{{ article.author.username }}</a
            >
            <span class="date">{{
              article.createdAt | date: 'dd MMMM yyyy'
            }}</span>
          </div>
          <div class="post-actions">
            @if(article.author.username !== currentUser.user.username) {
              @if (!followed) {
                <button
                  mat-raised-button
                  class="ml-2 mr-2"
                  color="primary"
                  (click)="onFollowUser(article.author.username)"
                >
                  Subscribe
                </button>
              } @else {
                <button
                  mat-stroked-button
                  class="ml-2 mr-2"
                  color="primary"
                  (click)="onUnfollowUser(article.author.username)"
                >
                  Unsubscribe
                </button>
              }
              @if (!favorited) {
                <button
                  mat-raised-button
                  class="favorite-button"
                  color="accent"
                  (click)="onFavoriteArticle(article.slug)"
                >
                  Favorite
                </button>
              } @else {
                <button
                  mat-stroked-button
                  class="favorite-button"
                  color="accent"
                  (click)="onUnFavoriteArticle(article.slug)"
                >
                  Unfavorite
                </button>
              }
            }
          </div>
        </div>
        <mat-chip-set class="float-end">
          @for (tag of article.tagList; track $index) {
            <mat-chip>{{ tag }}</mat-chip>
          }
        </mat-chip-set>
      </div>
      <div class="flex justify-between items-center mt-5">
        <p>{{ article.body }}</p>
      </div>
    </mat-card-content>
    @if (article.author.username === currentUser.user.username) {
      <mat-card-actions>
        <button
          mat-raised-button
          color="accent"
          class="mr-2"
          [routerLink]="['edit']"
        >
          Edit Article
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="onDeleteArticle(article.slug)"
        >
          Delete Article
        </button>
      </mat-card-actions>
    }
  </mat-card>
  <article-comments [slug]="article.slug"></article-comments>
</div>
