<div class="w-full mb-20">
  <mat-card class="p-5">
    <mat-card-title>
      <h1>{{ article.title }}</h1>
    </mat-card-title>

    <mat-card-content>

      <div class="container page">
        <div class="row article-content">
          <div class="col-md-12">
            <p>
              {{ article.description }}
            </p>
          </div>
        </div>
      </div>

      <div class="flex justify-between">
        <div class="flex items-center">
          <a [routerLink]="['/profile/user', article.author.username]" class="mr-2 avatar"><img class="avatar" [src]="article.author.image" /></a>
          <div class="flex flex-col mr-2">
            <a [routerLink]="['/profile/user', article.author.username]" class="author__name">{{ article.author.username }}</a>
            <span class="date">{{ article.createdAt | date:'dd MMMM yyyy' }}</span>
          </div>
          <div class="post-actions">
            <button mat-flat-button class="ml-2 mr-2" color="primary">
              Subscribe
            </button>
            <button mat-stroked-button class="favorite-button" color="primary">
              Favorite
            </button>
          </div>
        </div>
        <mat-chip-set class="float-end">
          @for(tag of article.tagList; track $index) {
            <mat-chip>{{ tag }}</mat-chip>
          }
        </mat-chip-set>
      </div>
      <div class="flex justify-between items-center mt-5">
        <p>{{ article.body }}</p>
      </div>
    </mat-card-content>
    <!--    <mat-card-actions>

          &lt;!&ndash;        <button class="btn btn-sm btn-outline-secondary">
                    <i class="ion-edit"></i> Edit Article
                  </button>
                  <button class="btn btn-sm btn-outline-danger">
                    <i class="ion-trash-a"></i> Delete Article
                  </button>&ndash;&gt;
        </mat-card-actions>-->
  </mat-card>
  <article-comments
    [slug]="article.slug"
  >
  </article-comments>
</div>
