<ng-container
  *ngrxLet="{
    getArticle: article$,
    loadingStatus: loadingStatus$,
    currentUser: currentUser$
  } as vm"
>
  @if (vm.loadingStatus === 'loaded' && vm.getArticle && vm.currentUser) {
    <div class="p-6">
      <article-read
        [article]="vm.getArticle.article"
        [currentUser]="vm.currentUser"
        (deleteArticle)="onDeleteArticle($event)"
        (followUser)="onFollowUser($event)"
        (unfollowUser)="onUnfollowUser($event)"
        (favoriteArticle)="onFavoriteArticle($event)"
        (unfavoriteArticle)="onUnFavoriteArticle($event)"
      ></article-read>
    </div>
  }
  @if (vm.loadingStatus === 'loading') {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
</ng-container>
